

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body>
<div class="d-flex justify-content-center align-items-center">
    <form asp-action="ClaimConfirmed" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.ReportId" />
        <button type="submit" class="claimed-btn">Confirm Claim</button>
        <a asp-action="ReportView" asp-route-id="@Model.ReportId" class="cancel-btn">Cancel</a>
    </form>
</div>
</body>
</html>