@{
    ViewBag.Title = "AdminReview";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Administrering av rapporter</title>
</head>

<body>
    <h1 class="header1">Administrering av<span class="highlight"> Rapporter</span></h1>
    <p style="text-align: center;">Her kan du behandle saker, og gi tilbakemelding til brukere</p>

    <div class="button-status">
        <form action="/action_page.php" method="get">
            <button class="btn-status-a" type="submit">Ubehandlet</button>
            <button class="btn-status-b" type="submit" formaction="/action_page2.php">Behandlet</button>
            <button class="btn-status-c" type="submit" formaction="/action_page3.php">Under behandling</button>
        </form>

        <!-- Dropdown -->
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Filter</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#home">Dato</a>
            <a href="#about">Kommune</a>
            <a href="#contact">Brukernavn</a>
        </div>
    </div>
    </div>


    <div class="user-reports">
            <table class="user-reports-table">
                <thead>
                    <tr class="reports-table-header">
                        <th colspan="12" style="text-align: left;">Tidligere rapporter:</th> <!-- Overskrift for tabell -->
                    </tr>

                    <tr>
                        <th>Dato</th>
                        <th>Beskrivelse</th>
                        <th>Status</th>
                        <th>Kommune</th>
                        <th>Brukernavn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>22.07.24</td>
                    <td><a href="/Account/AdminReport">link text</a></td>
                        <td>Ubehandlet</td>
                        <td>Kristiansand</td>
                        <td>ola_nordmann</td>
                    </tr>
                    <tr>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
                    <tr>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
                    <tr>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                        <td>tbd</td>
                    </tr>
                </tbody>
            </table>

    </div>


    <script>
        /* Når brukeren trykker på knappen, bytt mellom å vise og gjemme dropdown innhold*/
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Lukk dropdown når brukeren trykke utenfor
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
   

    </body>
</html>
