@model UserLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<body class="login">
    <div class="login-container">
        <h3 class="login-title">Logg inn</h3>
        <form asp-action="Login" method="post" class="login-form">
            <div class="form-group">
                <label asp-for="Username">Brukernavn</label>
                <input asp-for="Username" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Passord</label>
                <div class="password-wrapper">
                    <input asp-for="Password" type="password" id="Password" />
                    <label class="show-password">
                        <input type="checkbox" id="togglePassword" />
                        Vis passord
                    </label>
                </div>
            </div>
            
               <div class="center-horizontal">
               <button type="submit" class="btn-general btn-primary">Logg inn</button>
               </div>
        </form>

        <div class="registration-section">
            <p>Har du ikke en bruker?</p>
            <form asp-action="UserRegistration" asp-controller="Account" method="post">
                <button type="submit" class="btn-general btn-secondary">Registrer deg</button>
            </form>
        </div>
    </div>
</body>

<script>
    document.getElementById('togglePassword').addEventListener('change', function () {
        const passwordField = document.getElementById('Password');
        if (this.checked) {
            passwordField.type = 'text'; // Show password
        } else {
            passwordField.type = 'password'; // Hide password
        }
    });
</script>