@model Users
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Sørger for at layouten brukes.
}


<!DOCTYPE html>

<html>
<head>
    <title>Registreringsskjema</title>
</head>

<body>

    
    <div class="registration-form">
        <h1 class="registration-heading">Registreringsskjema</h1>
    <form asp-action="UserRegistration" asp-controller="Account" method="post">
    

        <br>
        <div>
            <label asp-for="UserName" class="registration-label">Brukernavn:</label>
            <input asp-for="UserName" />
        </div>
        <br>

        <div>
            <label asp-for="Email">E-post:</label>
            <input asp-for="Email" required placeholder="Skriv e-postadressen din" />
        </div>
        <br>

        <div>
            <label asp-for="Phone">Telefonnummer:</label>
            <input asp-for="Phone" type="tel" pattern="[0-9]*" />
        </div>
        <br>
       
        <div>
        <label asp-for="Password">Passord:</label>   
        <div class="password-input-wrapper">
        <input asp-for="Password" type="password" id="Password" />
            <div class="checkbox-wrapper-registration">
                <input type="checkbox" id="togglePassword" class="togglePassword flex-grow-0 " />
                <label class="text-nowrap flex-grow-0 margin-bottom-2" for="togglePassword">Vis passord</label>
            </div>
         </div>
         </div>

         <div class="registration-btn">
        <button type="submit">Registrer deg</button>
        </div>
    </form>
    </div>

    <script>
        document.getElementById('togglePassword').addEventListener('change', function () {
            const passwordField = document.getElementById('Password');
            if (this.checked) {
                passwordField.type = 'text'; // Show password
            } else {
                passwordField.type = 'password'; // Hide password
            }
        });
    </script>
</body>
</html>