@model Kartverk.mvc.Models.LoginData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Registration Form</h1>
    @* <form asp-action="RegistrationForm" method="post"> *@
    @*     <div> *@
    @*         <label asp-for="Name">Your name:</label> *@
    @*         <input asp-for="Name" class="form-control"/> *@
    @*     </div> *@
    @*     <div> *@
    @*         <label asp-for="Email">Your Email:</label> *@
    @*         <input asp-for="Email"/> *@
    @*     </div> *@
    @*     <div> *@
    @*         <label asp-for="Phone">Your phone:</label> *@
    @*         <input asp-for="Phone"/> *@
    @*     </div> *@
    @*     <div> *@
    @*         <label asp-for="Address">Your address:</label> *@
    @*         <input asp-for="Address"/> *@
    @*     </div> *@
    @*     <button type="submit" class="btn btn-primary">Submit</button> *@
    @* </form> *@
</div>
</body>
</html>