.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-primary {
    background-color: #006F35;
    color: #ffffff;
}

.btn-secondary {
    background-color: #1B589F;
    color: #ffffff;
}

.btn-general {
    background-color: #038540;
    color: white;
    display: inline-block;
    margin: 0 auto; /* Sentrerer knappen */
    width: 145px;
    height: 45px;
    font-size: 16px;
    border: 2px solid !important; /* Angi bredde og stil, men ikke farge */
    border-radius: 10px;
    cursor: pointer; /* Håndmus ved hover */
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    text-decoration: none; /* Ingen understreking på tekst */
    box-sizing: border-box; /* Inkluderer padding og border i bredden/høyden */
}

.btn-container {
    display: flex;
    flex-direction: row; /* Plasserer knappene horisontalt */
    align-items: center; /* Sentrerer knappene vertikalt */
    justify-content: space-evenly; /* Sentrerer knappene horisontalt */
    width: 70%; /* Juster bredde om nødvendig */
    margin: 0 auto; /* Sentrer containeren */
    gap: 0px; /* Økt avstand mellom knappene */
}

.btn-index {
    width: 320px;
    height: 115px;
    font-size: 35px;
    border: 4px solid !important; /* Angi bredde og stil, men ikke farge */
    border-radius: 20px;
    cursor: pointer; /* Håndmus ved hover */
    display: flex; /* Gjør knappen til en flex-container */
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    text-decoration: none; /* Ingen understreking på tekst */
    box-sizing: border-box; /* Inkluderer padding og border i bredden/høyden */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-container-index {
    margin-top: 85px;
    margin-bottom: 65px;
}

.btn-primary {
    background-color: #FFFFFF; /* Egen bakgrunnsfarge for primærknapp */
    border-color: #006F35; /* Fargen på border (stroke) */
    color: #006F35; /* Grønn tekstfarge */

}

.btn-secondary {
    background-color: #FFFFFF;
    border-color: #1B589F; /* Fargen på border (stroke) */
    color: #1B589F;
}

.btn-logout {
    background-color: #FFFFFF;
    border-color: #D9534F; /* Fargen på border (stroke) */
    color: #D9534F;
}

.btn-logout:hover {
    background-color: #D9534F; /* F.eks. rød bakgrunn på hover */
    border: 2px solid #D9534F !important;
    color: #FFFFFF; /* Tekstfarge på hover */
    cursor: pointer; /* Vis en håndpeker for bedre brukeropplevelse */
}

.delete-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
}

.delete-btn-report {
    width: 320px;
    height: 60px;
    padding: 10px 30px;
    border: 4px solid #D9534F;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #D9534F;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.2s ease; /* Smooth transition for hover */
}

.delete-btn-report:hover {
    background-color: #D9534F; /* Red background on hover */
    color: #fff; /* White text color on hover */
    border-color: #D9534F; /* Ensures border remains the same color */
}

.btn-changepassword {
    display: flex;
    align-items: center;
    justify-content: center; /* Sentraliserer tekst og ikon */
    gap: 6px; /* Mellomrom mellom ikonet og teksten */
    padding: 8px 12px; /* Redusert padding for mer kompakt utseende */
    font-size: 14px; /* Mindre font for bedre proporsjoner */
    line-height: 1; /* Reduser linjehøyden */
    border: 2px solid #1A5DAB;
    border-radius: 8px;
    color: #1A5DAB;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #FFFFFF;
    width: 180px;
}

.btn-changepassword:hover {
    background-color: #1A5DAB;
    color: white;
}

.btn-pin {
    color: #2E7D32;
    font-size: 24px;
   
}

.btn-pinned {
    color: #2E7D32;
    font-size: 24px;
}

.btn:focus,
.btn:active:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #008540;
}

.dropdown-btn,
.dropdown-btn-a {
    padding: 10px;
    width: 100%;
    background-color: #e6f4ea;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #d4ebdc;
        border-color: #1e8c34;
    }
}


.reset-btn {
    margin-top: 20px;
}

.claim-btn {
    display: flex;
    width: 320px;
    height: 90px;
    padding: 15px 40px;
    border: 4px solid #006F35;
    background-color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    border-radius: 20px;
    gap: 10px;
    color: #006F35;
    transition: all 0.1s ease;
    text-decoration: none;
}

.claim-btn:hover {
    background-color: #006F35;
    color: #fff;
}

.claimed-btn {
    display: flex;
    width: 470px;
    height: 120px;
    padding: 15px 40px;
    border: 4px solid #006F35;
    background-color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    border-radius: 20px;
    gap: 10px;
    color: #006F35;
    transition: all 0.3s ease;
    margin-top: 150px;
}

.claimed-btn:hover {
    background-color: #006F35;
    color: #fff;
}

.cancel-btn {
    display: flex;
    height: 90px;
    padding: 15px 40px;
    border: 4px solid #D9534F;
    background-color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    border-radius: 20px;
    gap: 10px;
    color: #D9534F;
    transition: all 0.1s ease;
    text-decoration: none;
    margin-top: 50px;
}

.cancel-btn:hover {
    background-color: #D9534F;
    color: #fff;
}

.delete-btn {
    display: flex;
    border: 2px solid #D9534F !important; /* Red border for delete */
    background-color: #FFFFFF !important;
    color: #D9534F !important; /* Red color for text */
    margin-bottom: 50px;
    margin-right: 50px;
}



@media (max-width: 480px) {
    .login-container {
        margin: 20px;
        padding: 15px;
    }

    .btn {
        font-size: 14px;
    }
}