<h1>Guide til <span class="highlight">Kartverket</span></h1>

<h3>1. Registrering av bruker</h3>

<h3>2. Innsending av rapport</h3>

<h3>3. Lengde på behandlingstid</h3>

<h3>4. Sletting av bruker </h3>

<h3>5. Glemt brukernavn/passord</h3>

<br />
<h2>Registrering av bruker</h2>

<ul class="my-list">
    <li>Trykk på "Registrer deg"-knappen på "Hjem"-siden.</li>
    <li>Fyll deretter ut brukernavn, e-post, telefonnummer (valgfritt), og passord.</li>
    <li>Trykk på knappen der det står "registrer deg"</li>
    <li>Nå kan du logge deg inn med ditt valgte brukernavn og passord</li>
</ul>

<br />
<h2>Innsending av rapport</h2>

<ul class="my-list">
    <li>Lag en ny bruker ved å trykke på "Registrer deg"-knappen</li>
    <li>Fyll ut skjemaet og trykk "Registrer"</li>
    <li>Velg "Meld feil"-knappen helt øverst på siden</li>
    <li>Marker området ved hjelp av verktøyene på venstre side av skjermen</li>
    <li>Skriv en detaljert beskrivelse av feilen (du må ha minst 5 tegn)</li>
    <li>Trykk "Send inn"</li>
</ul>

<p>Nå har du sendt inn din første rapport! Gratulerer:)</p>

<br />
<h2>Lengde på behandlingstid</h2>

<p>Lengden på tiden det tar å behandle rapporten avhenger av flere faktorer. Men som en hovedregel er behandlingstiden 1. til 2. uker</p>

<br />
<h2>Sletting av bruker</h2>


<ul class="my-list">
    <li>Gå inn på "Min Side" og trykk på den nederste knappen der det står "Slett bruker"</li>
    <li>Trykk "Ok" på dialogboksen som kommer opp. </li>
    <li>Brukeren din er dermed slettet, samt dine personopplysninger.</li>
</ul>

<br />
<h2>Glemt brukernavn/passord</h2>

<ul class="my-list">
    <li>Trykk på "Glemt passord" og skriv inn e-posten du registrerte deg med</li>
    <li>Trykk "Send"</li>
    <li>Du vil nå få en e-post der du kan lage deg et nytt passord (dette av sikkerhetshensyn)</li>
    <li>Nå kan du logge deg inn med det nye passordet</li>
</ul>