@{
    ViewData["Title"] = "Om oss";
}
<h1>@ViewData["Title"]</h1>

<h1>
    Vi tar ansvarlighet for rasisme...
</h1>

<img src="https://media.istockphoto.com/id/1341347262/photo/portrait-smiling-african-american-businessman-in-blue-suit-sit-at-table-for-meeting-in-office.jpg?s=612x612&w=0&k=20&c=Gb1cE6mv7uT4rkWHqdC-9il3XB_gFIIcx8Y8iELvaus=" alt="ABOUT RACISM">
<img src="https://media.istockphoto.com/id/1354898581/photo/shot-of-a-young-businessman-using-a-laptop-in-a-modern-office.jpg?s=612x612&w=0&k=20&c=dDDNcvIoG-4VdO01ZlENqODBoNocT434vIFp0duuTZM=" alt="About Diversity!">
<img src="https://thumbs.dreamstime.com/b/happy-man-white-teeth-smiling-thumbs-up-isolated-background-40783976.jpg">


<p class="italic">
    Ansvarlighet handler om å erkjenne våre handlinger og deres konsekvenser, og være villige til å stå til rette for dem. Det innebærer å ta eierskap til egne valg, uansett om de fører til positive eller negative utfall. Når vi tar ansvar, viser vi modenhet ved å være transparente, åpne for kritikk, og klare til å rette opp i feil.
</p>

<p class="italic">
  På et personlig nivå betyr dette at vi er ærlige med oss selv og andre. Vi aksepterer konsekvensene av våre beslutninger og jobber aktivt med å forbedre oss der vi kan. Det kan innebære alt fra å innrømme feil på jobb til å justere atferden vår i relasjoner når vi ser at vi har gjort noe galt.

    I en organisasjon eller på et samfunnsnivå innebærer ansvarlighet å ha klare strukturer for tilbakemeldinger, evalueringer og oppfølging. Det betyr også å implementere mekanismer som sikrer at alle handlinger er i tråd med verdier og retningslinjer. Når feil oppstår, er det ikke bare snakk om å finne ut hvem som er ansvarlig, men også å lære av situasjonen og sørge for at slike feil ikke skjer igjen.

    Ved å fremme en kultur av ansvarlighet, både individuelt og kollektivt, kan vi bidra til et miljø hvor tillit og integritet styrkes.
</p>