@{
    ViewData["Title"] = "Om oss";
}
<h1>@ViewData["Title"]</h1>

<h1>
    Vi tar ansvarlighet for rasisme...
</h1>

<img src="https://media.istockphoto.com/id/1341347262/photo/portrait-smiling-african-american-businessman-in-blue-suit-sit-at-table-for-meeting-in-office.jpg?s=612x612&w=0&k=20&c=Gb1cE6mv7uT4rkWHqdC-9il3XB_gFIIcx8Y8iELvaus=" alt="ABOUT RACISM">
