<h1>Guide til <span class="highlight">Kartverket</span></h1>

<h3>1. Registrering av bruker</h3>

<h3>2. Innsending av rapport</h3>

<h3>3. Lengde på behandlingstid</h3>

<h3>4. Sletting av bruker </h3>

<h3>5. Glemt brukernavn/passord</h3>




<h2>Registrering av bruker</h2>

<p>Du registrerer deg ved å trykke på "Registrer deg"-knappen på "Hjem"-siden, og fyller deretter ut brukernavn, e-post, telefonnummer (valgfritt), og passord.</p>

<h2>Innsending av rapport</h2>

    <ol>
        <li>Lag en ny bruker ved å trykke på "Registrer deg"-knappen</li>
        <li>Fyll ut skjemaet og trykk "Registrer"</li>
        <li>Velg "Meld feil"-knappen helt øverst på siden</li>
        <li>Marker området ved hjelp av verktøyene på venstre side av skjermen</li>
        <li>Skriv en detaljert beskrivelse av feilen (du må ha minst 5 tegn)</li>
        <li>Trykk "Send inn"</li>
    </ol>

<p>Nå har du sendt inn din første rapport! Gratulerer:)</p>

<h2>Lengde på behandlingstid</h2>

<p>Lengden på tiden det tar å behandle rapporten avhenger av flere faktorer. Men som en hovedregel er behandlingstiden 1. til 2. uker</p>

<h3>Sletting av bruker </h3>

<p>Hvis du vil slette brukeren din, trykker du på "Slett bruker" på "Min side". Brukeren din blir dermed slettet, samt dine personopplysninger. </p>

<h3>Glemt brukernavn/passord</h3>


    <li>Gå inn på "Logg inn" og trykk "Glemt passord/brukernavn"</li>
<p>Hvis du har glemt passordet:</p>
<ol>
    <li>Trykk på "Glemt passord" og skriv inn e-posten du registrerte deg med</li> 
    <li>Trykk "Send"</li>
    <li>Du vil nå få en e-post der du kan lage deg et nytt passord (dette av sikkerhetshensyn)</li>
    <li>Nå kan du logge deg inn med det nye passordet</li>
</ol>
<ol>
    <p>Hvis du har glenpm run sassmt brukernavnet:</p> 
    <li>Trykk på "Glemt brukernavn" og skriv inn e-posten du registrerte deg med</li>
    <li>Trykk "Send"</li>
    <li>Du vil nå få en e-post med ditt oppgitte brukernavn.</li>
</ol>

