@{
    ViewBag.Title = "Hjelp";
    Layout = "_Layout";
}
<div class="text-center mb-5">
    <h2>Hjelp</h2>
</div>
<div class="">
    <div class="row align-items-start">
        <div class="col">
            <h5 class="font-color-primary mb-5">Trenger du hjelp angående registrering?</h5>
            <div class="p-2">
                Får du ikke registrert deg?
            </div>
            <div class="p-2">
                Er ikke e-posten gyldig?
            </div>
            <div class="p-2">
                Er ikke telefonnummer gyldig?
            </div>
            <div class="p-2">
                Får du feilmelding?
            </div>
        </div>
        <div class="col">
            <h5 class="font-color-primary mb-5">Trenger du hjelp angående innlogging?</h5>
            <div class="p-2">
                Får du ikke logget deg inn?
            </div>
            <div class="p-2">
                Får du ikke logget deg inn som administrator?
            </div>
            <div class="p-2">
                Vet du ikke om du kvalifiserer deg som administrator?
            </div>
            <div class="p-2">
                Har du glemt passordet?
            </div>
        </div>
        <div class="col">
            <h5 class="font-color-primary mb-5">Trenger du hjelp angående kartet?</h5>
            <div class="p-2">
                Hvordan markere et område?
            </div>
            <div class="p-2">
                Hvordan søke opp et område?
            </div>
            <div class="p-2">
                Hvordan slette en rapport?
            </div>
            <div class="p-2">
                Hvor finner man tidligere rapporter?
            </div>
        </div>
    </div>
</div>
<div class="container text-center m-auto position-absolute hjelp-bottom-container">
    <h5 class="hjelp-bottom-text">Finner du ikke svaret du leter etter?</h5>
    <img src="https://growgreatfruit.com/wp-content/uploads/2022/09/downward-arrow.png" alt="Pil nedover" class="down-arrow-icon"/>
</div>