@model Users

@{
    ViewData["Title"] = "Hjemmeside";
}

<!DOCTYPE html>

<html>
<body>
    <h1 class="header1">Min <span class="highlight">Side</span></h1>
    
    <div class="homepage">

    <div class="meld-kartfeil">
        <p>Finner du feil i kartet? Trykk her:</p>
       
        <a asp-action="MapReport"><button type="submit" class="btn btn-secondary">Meld feil</button></a>
    </div>

    <div class="user-information">
    <h2 class="header2">Min informasjon:</h2>


@if (Model != null)
{
                <table class="user-info-table">
                    <tr>
                        <td><strong>Brukernavn:</strong></td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td><strong>E-post:</strong></td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td><strong>Telefonnummer:</strong></td>
                        <td>@Model.Phone</td>
                    </tr>
                  <!--   <tr>
                        <td><strong>Passord:</strong></td>
                         <td>
                            <div class="password-container">
                                <input type="password" id="passwordField" value="@Model.Password" readonly />
                                <button type="button" id="togglePasswordBtn">Vis passord</button>
                            </div>
                        </td>
                      </tr> -->
                </table>           
}
</div>

<div class="map-reports">
<h2>Tidligere rapporter:</h2>
<p>Her er en oversikt over dine tidligere innmeldinger</p>
<!-- Legg til tidligere innmeldinger-->

@if (Model != null)
   {
                <table class="map-reports-table">
                    <tr>
                        <td>tbd</td>
                    </tr>
                    <tr>
                        <td>tbd</td>
                    </tr>
                </table>
            }
        
     </div>
</div>

  <!--  <script>
        // JavaScript to toggle password visibility
        const passwordField = document.getElementById("passwordField");
        const togglePasswordBtn = document.getElementById("togglePasswordBtn");

        togglePasswordBtn.addEventListener("click", function () {
            if (passwordField.type === "password") {
                passwordField.type = "text";  // Show password
                togglePasswordBtn.textContent = "Skjul passord";  // Change button text
            } else {
                passwordField.type = "password";  // Hide password
                togglePasswordBtn.textContent = "Vis passord";  // Reset button text
            }
        });
    </script> -->

</body>
</html>