@model UserRegistrationModel

@{
    ViewData["Title"] = "Forside";
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Hjem"]</title>
</head>

<body>

<div class="text-center">
    <h1 class="display-4"><b>Meld inn feil til</b> <span class="highlight"><b>Kartverket</b></span></h1>
</div>

<div class="btn-container-index">
    <div class="btn-container">
        <form asp-action="Login" asp-controller="Account" method="get" class="flex-grow-1">
            <button type="submit" class="btn-index btn-primary m-auto">Logg inn
                <i class="bi bi-box-arrow-in-right"></i>
            </button>
        </form>

        <!-- Registration-form -->
        <form asp-action="UserRegistration" asp-controller="Account" method="get" class="flex-grow-1">
            <button type="submit" class="btn-index btn-primary m-auto">Registrer deg
                <i class="bi bi-pencil-square"></i>
            </button>
        </form>
    </div>
</div>
<div class="text-left">
    <div class="list-container">
        <div class="list-item">
            <h2>Fremgangsmetode</h2>
            <ul class="my-list">
                <li>Registrer deg</li>
                <li>Finn området på kartet</li>
                <li>Marker og beskriv feilen</li>
                <li>Send inn</li>
            </ul>
        </div>
        <div class="list-item">
            <h2>Hvorfor denne løsningen?</h2>
            <ul class="my-list">
                <li>Enkelt å melde inn feil</li>
                <li>Du bidrar til å oppdatere kartet</li>
                <li>Spor tidligere rapporter</li>
            </ul>
        </div>
    </div>
</div>
<!-- Popup -->
<div id="deleteConfirmationPopup" style="display:none;" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <p>@TempData["DeletionMessage"]</p>
    </div>
</div>
</body>
</html>
