@model Kartverk.Models.LoginData

@{
    ViewData["Title"] = "Forside";
}

<html>
<head>
    <style>
        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 30%;
            padding: 8px;
            box-sizing: border-box;
        }
    </style>

</head>
<body>
<div class="text-center">
    <h1 class="display-4">Meld inn mangler eller feil</h1>
    <form asp-action="LoginForm" method="post">
        <div>
            <label asp-for="UserName">Brukernavn</label>
            <input asp-for="UserName"/>
        </div>
        <div>
            <label asp-for="Password">Passord</label>
            <input asp-for="Password"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>