@model Users

@{
    ViewData["Title"] = "Forside";
}

<html>
<head>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Meld inn feil til <span class="highlight">Kartverket</span></h1>
        <button type="submit" class="btn btn-primary">Logg inn</button>
        <p>Logg inn for å melde inn feil </p>
    <!-- Registration-form -->
    <br><br>
    <form asp-action="UserRegistration" asp-controller="Home" method="post">        
        <button type="submit" class="btn btn-secondary">Registrer deg</button>
        <p>Ny bruker? Registrer deg for å få tilgang</p>
    </form>
    </div>
</body>
</html>
