@model MapReportsModel

@{
    ViewData["Title"] = "Registrer ny rapport";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>  
<div>
    <div class="map-container">
        <div id="map"></div>
    </div>
    @if (ViewData["ErrorMessage"] != null)
    {
        <p class="alert-danger">@ViewData["ErrorMessage"]</p>
    }
    
    <div class="center-horizontal" style="height: 180px;">
        <form asp-action="RegisterMapReport" method="post" id="mapForm">
            <div>
                <textarea id="meldingsBoks" asp-for="Melding" required minlength="5" style="width: 700px; height: 80px;" placeholder="Beskrivelse (minst 5 tegn)"></textarea>
            </div>
            <div>
                <input type="text" class="visually-hidden" id="Koordinater" asp-for="StringKoordinaterLag" required></input>
            </div>
            <div class="center-horizontal">
            <button class="btn btn-primary" onclick="submitForm()">Send inn</button>
            </div>
        </form>
    </div>
    </div>

@section Scripts {
    <script>
    
    const map = lagKart();
    
    // Skrur av forskjellige tegnekontroller
    map.pm.addControls({
        position: 'topleft',
        rotateMode: false,
        drawMarker: false,
        drawCircleMarker: false,
        drawPolyline: false,
        drawCircle: false,
        drawText: false
    });
    
    // Leverer kartdata til home-kontrolleren
    function submitForm() {
        // Henter alle lag fra kartet
        const layers = L.PM.Utils.findLayers(map);

        // Oppretter et GeoJSON-objekt for kartdata
        const geojson = {
            type: "FeatureCollection",
            features: []
        };

        layers.forEach(layer => {
            // Konverterer hvert lag til GeoJSON-format og legger det til 'features'
            const geojsonFeature = layer.toGeoJSON();
            // Filtrer ut GPS lokasjon
            if (geojsonFeature.geometry.type === "Point") return;
            geojson.features.push(geojsonFeature);
        });

        // Finner input-feltet der GeoJSON skal lagres
        const koordinater = document.getElementById("Koordinater");

        // Lagrer GeoJSON-data som en streng i input-feltet
        koordinater.value = JSON.stringify(geojson);

        const meldingsBoks = document.getElementById("meldingsBoks")
    
        // Validering av melding i tekstboksen
        // Og om det er lagt til et kart-lag
        if (meldingsBoks.innerHTML.length < 5 || !geojson.features.length) return;
        
        // Sender skjemaet
        document.getElementById("mapForm").submit();
    }

    </script>
}

</body>
</html>