@model Kartverket.Models.MyPageModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>MinSide</title>
</head>
<body class="MyPage">
<div>
    <h1 class="header1 display-4">Min <span class="highlight">Side</span></h1>
</div>

<!-- Your buttons -->
<div>
    <form asp-controller="Reports" asp-action="MapReport" method="post">
        <button type="submit" class="meld-feil-btn">Meld feil
            <i class="bi bi-map"></i> 
        </button>
    </form>
</div>

<div class="center-horizontal">
    <div class="info-box">
        <h3>Min Informasjon:</h3>
        
        <p><i class="bi bi-person-fill"></i><strong>Brukernavn:</strong> @Model.Username</p>

        <p><i class="bi bi-envelope-fill"></i><strong>E-post:</strong> @Model.Email</p>

        <p><i class="bi bi-telephone-fill"></i><strong>Telefonnummer:</strong> @Model.Phone</p>
    </div>
</div>

<div class="button-group">
<div class="password-change">
    <form asp-controller="Account" asp-action="PasswordView" method="post">
        <button id="showPasswordFormBtn" class="btn">Endre passord
            <i class="bi bi-key"></i>
            </button>
    </form>
</div>

<div>
    <form asp-controller="Reports" asp-action="ReportOverview" method="get">
        <button class="btn">Dine rapporter
            <i class="bi bi-journal-text"></i>
            </button>
    </form>
</div>
</div>

</body>
</html>