@model Kartverk.Models.LoginDataModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Thanks for registering!</h2>
    @* <p>Name: @Model.Name</p> *@
    @* <p>Email: @Model.Email</p> *@
    @* <p>Phone: @Model.Phone</p> *@
    @* <p>Address: @Model.Address</p> *@
</div>
</body>
</html>