@{
    ViewData["Title"] = "Personvern";
}
<h1>@ViewData["Title"]</h1>

<p>
    Personvernerklæring for Kartverkstjenesten

    Denne personvernerklæringen beskriver hvordan vi samler inn, bruker og beskytter dine personopplysninger i forbindelse med vår kartverkstjeneste.
</p>


<h3> 1. Hvilke data samler vi inn? </h3>

<p>
    Vi samler inn følgende opplysninger når du registrerer deg som bruker:

    Navn,
    E-postadresse,
    Brukernavn og passord
</p>

<h3> 2. Hva bruker vi dine data til? </h3>

<p>
    Vi bruker dine personopplysninger for følgende formål:

    For å opprette og administrere din brukerkonto
    For å gi deg tilgang til våre kartverkstjenester
    For å sikre at tjenestene våre fungerer på en trygg og sikker måte
</p>

<h3> 3. Sikkerhet </h3>

    Vi tar sikkerheten til dine personopplysninger på alvor. Alle data lagres sikkert og passordene dine blir kryptert for å beskytte dem mot uautorisert tilgang.

<h3> 4. Dine rettigheter </h3>

<p>
    Du har rett til å be om innsyn i, endre eller slette dine personopplysninger når som helst. Ta kontakt med oss på [kontaktinformasjon] for å utøve dine rettigheter.
</p>

<h3> 5. Endringer i personvernerklæringen </h3>

<p>
    Vi kan oppdatere denne personvernerklæringen fra tid til annen. Eventuelle endringer vil bli publisert på denne siden.
</p>
