@{
    ViewData["Title"] = "Personvern";
}
<h1>@ViewData["Title"]</h1>

<p>
    Personvernerklæring for Kartverkstjenesten.
    
    <br>

    Denne personvernerklæringen beskriver hvordan vi samler inn, bruker og beskytter dine personopplysninger i forbindelse med vår kartverkstjeneste.
</p>


<h3> 1. Hvilke data samler vi inn? </h3>

<p>
    Vi samler inn følgende opplysninger når du registrerer deg som bruker:

    <div class="text-left">
        <div class="list-container">
            <div class="list-item">
                <ul class="my-list">
                    <li>Navn</li>
                    <li>E-postadresse</li>
                    <li>Telefonnummer</li>
                    <li>Brukernavn</li>
                    <li>Passord</li>
                </ul>
            </div>
        </div>
    </div>

<h3> 2. Hva bruker vi dine data til? </h3>

<p>Vi bruker dine personopplysninger til følgende formål:</p>

    <div class="text-left">
<div class="list-container">
    <div class="list-item">
        <ul class="my-list">
            <li>For å opprette og administrere din brukerkonto.</li>
            <li>For å gi deg tilgang til våre kartverkstjenester.</li>
            <li>For å sikre at tjenestene våre fungerer på en trygg og sikker måte.</li>
        </ul>
    </div>
</div>
</div>

<h3> 3. Sikkerhet </h3>

<p>Vi tar sikkerheten til dine personopplysninger på alvor. Alle data lagres sikkert og passordene dine blir kryptert for å beskytte dem mot uautorisert tilgang.</p>

<h3> 4. Dine rettigheter </h3>

<p>
    Du har rett til å be om innsyn i, endre eller slette dine personopplysninger når som helst. Ta kontakt med oss på tlf eller vår e-postaddresse for å utøve dine rettigheter.
</p>

<h3> 5. Endringer i personvernerklæringen </h3>

<p>
    Vi kan oppdatere denne personvernerklæringen fra tid til annen. Eventuelle endringer vil bli publisert på denne siden.
</p>
