@model FeilMeldingsModel

@{
    ViewData["Title"] = "Registrert rapport";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    <h1>Rapport registrert</h1>
    <form asp-action="Register" asp-controller="Home" method="post" id="mapForm"> </form>
    <div>
        <h3>Melding</h3>
        <p>@Model.Melding</p>
    </div>
    <div id="map"></div>
    <div>
        <h3>Koordinater</h3>
        <p>GeoJSON Data: @Html.Raw(Model.StringKoordinaterLag)</p>
    </div>
</div>

@section Scripts {
    <script>
    // Skru av zoom
    const map = lagKart({ zoomControl: false });
    
    // Skru av alt som flytter på kartet 
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
    if (map.tap) map.tap.disable();

    // Hent kartlag fra layout, legg til i kart
    kartLag.Land.addTo(map); 
        
    // Setter kartets fokus på første lat/long fra polygon
    map.setView(polygons[0]._latlngs[0][0])
    
    
    </script>
}

</body>
</html>