@model FeilMeldingsModel

@{
    ViewData["Title"] = "Registrert rapport";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    <h1>Rapport registrert</h1>
    <div>
        <h3>Melding</h3>
        <p>@Model.Melding</p>
    </div>
    <div id="map"></div>
    <div>
        <h3>Koordinater</h3>
        <p>Lines: @Html.Raw(Json.Serialize(Model.KoordinaterLag?.lines))</p>
        <p>Points: @Html.Raw(Json.Serialize(Model.KoordinaterLag?.points))</p>
    </div>
</div>

@section Scripts {
    <script>
    // Skru av zoom
    const map = lagKart({ zoomControl: false });
    
    // Skru av alt som flytter på kartet 
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
    if (map.tap) map.tap.disable();

    // Hent kartlag fra layout, legg til i kart
    kartLag.Land.addTo(map); 
        
    // Lager polygoner fra modelldata
    const polygons = [];
    for (const layer of @Html.Raw(Json.Serialize(Model.KoordinaterLag?.lines))) {
        polygons.push(L.polygon(layer).addTo(map))
    }

    // Setter kartets fokus på første lat/long fra polygon
    map.setView(polygons[0]._latlngs[0][0])
    </script>
}

</body>
</html>