@model FeilMeldingsModel

@{
    ViewData["Title"] = "Registrer utbedring på kart";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    <div id="map"></div>
    <form asp-action="Register" method="post" id="mapForm">
        <div>
            <label asp-for="Melding">Beskrivelse</label>
            <textarea asp-for="Melding"></textarea>
        </div>
        <div>
            <input type="text" class="visually-hidden" id="Koordinater" asp-for="StringKoordinaterLag"></input>
        </div>
        <button type="submit" value="send" class="btn btn-primary" onclick="submitForm()">Send inn</button>
    </form>
</div>

@section Scripts {
    <script>
    // Lag som viser land eller sjø kart
    // https://leafletjs.com/examples/wms/wms.html
    const layers = Object.freeze({
        Land: L.tileLayer.wms('https://openwms.statkart.no/skwms1/wms.kartdata?', {
            layers: "kd_arealdekkeflate,kd_veger,kd_bygninger,kd_jernbane",
            attribution: 'Kartverketet'
        }),
        "Sjø": L.tileLayer.wms('https://openwms.statkart.no/skwms1/wms.kartdata?', {
            layers: "kd_arealdekkeflate,kd_vannkontur,kd_vannflate,kd_elver,kd_ferger",
            attribution: 'Kartverketet'
        }),
    })
    
    const map = L.map('map').setView([58.151, 8], 13);

    map.pm.addControls({
        position: 'topleft',
        rotateMode: false,
        drawMarker: false,
        drawCircleMarker: false,
        drawPolyline: false,
        drawCircle: false,
        drawText: false
    });

    // Vi trenger locate til å hente lokasjon av bruker
    // L.control.locate().addTo(map);

    layers.Land.addTo(map);

    L.control.layers(layers).addTo(map);
    
    // Leverer kartdata til home-kontrolleren
    function submitForm() {
        const mapData = {
            points: [],
            lines: []
        };

        const markers = L.PM.Utils.findLayers(map);

        markers.forEach(marker => {
            if (marker.options.pane === "markerPane") mapData.points.push(marker._latlng);
            if (marker.options.pane === "overlayPane") mapData.lines.push(marker._latlngs);
        });
                        
        const koordinater = document.getElementById("Koordinater");
        
        if (!koordinater) throw new Error("500 Internal error");
        
        // Gjør om mapData til string
        koordinater.value = JSON.stringify(mapData);
        document.getElementById("mapForm").submit();
    }    
</script>
}

</body>
</html>