@model FeilMeldingsModel

@{
    ViewData["Title"] = "Registrer ny rapport";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>  
<div>
    <div id="map"></div>
    @if (Model != null && !String.IsNullOrWhiteSpace(Model.FeilMelding))
    {
        <p class="alert-danger">@Model.FeilMelding</p>
    }
    
    <form asp-action="Register" method="post" id="mapForm">
        <div>
            <label asp-for="Melding">Beskrivelse</label>
            <textarea id="meldingsBoks" asp-for="Melding" required minlength="1"></textarea>
        </div>
        <div>
            <input type="text" class="visually-hidden" id="Koordinater" asp-for="StringKoordinaterLag"></input>
        </div>
        <button type="submit" value="send" class="btn btn-primary" onclick="submitForm()">Send inn</button>
    </form>
</div>

@section Scripts {
    <script>
    
    const map = lagKart();
    
    // Skrur av forskjellige tegnekontroller
    map.pm.addControls({
        position: 'topleft',
        rotateMode: false,
        drawMarker: false,
        drawCircleMarker: false,
        drawPolyline: false,
        drawCircle: false,
        drawText: false
    });
    
    // Leverer kartdata til home-kontrolleren
    function submitForm() {
        // Henter alle lag fra kartet
        const layers = L.PM.Utils.findLayers(map);

        // Oppretter et GeoJSON-objekt for kartdata
        const geojson = {
            type: "FeatureCollection",
            features: []
        };

        layers.forEach(layer => {
            // Konverterer hvert lag til GeoJSON-format og legger det til 'features'
            const geojsonFeature = layer.toGeoJSON();
            geojson.features.push(geojsonFeature);
        });

        // Finner input-feltet der GeoJSON skal lagres
        const koordinater = document.getElementById("Koordinater");

        if (!koordinater) throw new Error("500 Internal error");

        // Lagrer GeoJSON-data som en streng i input-feltet
        koordinater.value = JSON.stringify(geojson);

        const meldingsBoks = document.getElementById("meldingsBoks")
    
        if (!meldingsBoks.innerHTML.length) return;
        
        // Sender skjemaet
        document.getElementById("mapForm").submit();
    }

    </script>
}

</body>
</html>