@model LoginDataModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Sørger for at layouten brukes.
}


<!DOCTYPE html>

<html>
<head>
    <style>
            h1 {
                text-align: center;
            }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 30%;
            padding: 8px;
            box-sizing: border-box;
        }
    </style>

</head>

<body>
    <h1>Registreringsskjema</h1>

    <form asp-action="HomePage" asp-controller="Home" method="post">

        <br>
        <div>
            <label asp-for="UserName">Brukernavn:</label>
            <input asp-for="UserName" />
        </div>
        <br>

        <div>
            <label asp-for="Email">E-post:</label>
            <input asp-for="Email" required placeholder="Skriv e-postadressen din" />
        </div>
        <br>

        <div>
            <label asp-for="Phone">Telefonnummer:</label>
            <input asp-for="Phone" type="tel" pattern="[0-9]*" />
        </div>
        <br>
       
        <div>
        <label asp-for="Password">Passord:</label>    
        <input asp-for="Password" type="password" id="Password" />
            <div class="checkbox-wrapper-registration">
                <input type="checkbox" id="togglePassword" class="togglePassword flex-grow-0 " />
                <br>
                <label class="text-nowrap flex-grow-0 margin-bottom-2" for="togglePassword">Vis passord</label>
            </div>
            </div>
            
        <button type="submit" class="btn btn-secondary">Send inn</button>
    </form>

    <script>
        document.getElementById('togglePassword').addEventListener('change', function () {
            const passwordField = document.getElementById('Password');
            if (this.checked) {
                passwordField.type = 'text'; // Show password
            } else {
                passwordField.type = 'password'; // Hide password
            }
        });
    </script>
</body>
</html>