@model LoginData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    Kart
    <a asp-action="MapMistakeRegistrationForm">Meld feil</a>
</div>
</body>
</html>