// css/components/_map.scss
#map {
}

.styledMap-report {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 300px;
  width: 750px;
}

.styledMap {
  position: fixed;
  top: 75px;
  left: 0;
  margin: 0;
  padding: 0;
  height: calc(100vh - 110px);
  width: 100%;
}

.map-container {
  display: flex;
  justify-content: center;
}
