/* Error: expected "}".
 *    ,
 * 48 |       right: 30px; !important;
 *    |                    ^
 *    '
 *   wwwroot/css/pages/_login.scss 48:20  @import
 *   wwwroot/css/main.scss 15:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 48 \2502        right: 30px; !important;\a    \2502                     ^\a    \2575 \a   wwwroot/css/pages/_login.scss 48:20  @import\a   wwwroot/css/main.scss 15:9           root stylesheet';
}
