@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {
    --primary: #006A33;
    --secondary: #154785;

    --font-family: "Open Sans", sans-serif;
}

html {
    font-size: 18px;
    font-family: var(--font-family);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #008540;
}

html {
    position: relative;
    min-height: 100%;       
}

body {
    margin-bottom: 60px;
}

#map {
    height: 450px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #008540;
    color: white;
    border: none;
    cursor: pointer;
}


.button {
    width: 273px;
    height: 85px;
    padding: 10px 20px;
    background-color: #008540;
    font-size: 32px;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;

}


/*CSS for HomePage*/
.header1 {
    text-align: center;
    
}

h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;  
    margin-bottom: 40px;

}

.highlight {
    color: #008540; /* Replace this with the desired color */
}

/* Flexbox container for password field and button */
.password-container {
    display: flex;
    align-items: center; /* Justerer elementene vertikalt p� samme linje */
}

/* Juster avstand mellom teksten og input-feltet */
.password-container p {
    margin-right: 10px; /* Avstand mellom "Password:" tekst og input-felt */
    margin-bottom: 0; /* Nullstill bunnmarg for � sikre at den ikke p�virker justeringen */
}

/* Juster avstand mellom input-feltet og knappen */
.password-container input {
    margin-right: 10px; /* Avstand mellom input-felt og knapp */
    margin-top: -4px; /* Flytt input-feltet opp */
}

/* Juster knappen */
.password-container button {
    margin-top: -4px; /* Flytt knappen opp */
}


/*CSS for Index*/
.password-input-wrapper {
    display: flex;
    flex-direction: column; /* Stack the input and checkbox vertically */
    justify-content: center; /* Centers the entire wrapper (input + checkbox) */
    align-items: center; /* Vertically aligns both input and checkbox */
    width: 100%; /* Full width to allow centering */
}

.checkbox-wrapper {
    margin-top: 10px; /* Add some space above the checkbox */
    display: flex;
    align-content: space-around;
    gap: 1rem;
    align-items: center; /* Vertically align the checkbox and label */
    justify-content: center; /* Ensure checkbox and label are centered */
}


/*CSS for RegistrationPage*/
.registration-form h1 {
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    margin-bottom: -100px; /* Reduce space below heading */
}

.registration-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px; /* Space between input groups */
}


.registration-form form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    height: 100vh; /* Full height of the window */
    width: 100%; /* Full width */
}

.registration-form input {
    width: 300px; /* Fixed width for inputs */
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.registration-form label {
    margin-bottom: -5px;  /*Space between label and input */
}

 
/* Make input boxes smaller and add rounded corners */
.registration-form input {
    width: 250px; /* Smaller width for inputs */
    padding: 8px; /* Reduced padding */
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Border around input boxes */
}

/* Juster knappen */
.registration-form button {
    display: flex;
    align-items: flex-start;
    
}

.margin-bottom-2 {
    margin-bottom: 2px !important;
    margin-top: -20px;
    margin-left: 140px;
}

img {
<<<<<<< HEAD
    object-fit:cover;
}
=======
    object-fit: cover;
}

.navbar, .nav-link {
    font-family: 'Mulish', sans-serif; 
    font-weight: 100;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 40px;
}

.footer-nav {
    list-style-type: none;
    text-align: center;
   
}

.footer-nav li {
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-right: 200px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

.font-color-primary {
    color: var(--primary);
}

.font-color-secondary {
    color: var(--secondary);
}

.hjelp-bottom-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
<<<<<<< HEAD
>>>>>>> origin/master
=======

.hjelp-bottom-container {
    min-height: 10rem;
}
>>>>>>> origin/master
