@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
    --primary: #006A33;
    --secondary: #154785;

    --font-family: 'Mulish', sans-serif;
}

html {
    font-size: 18px;
    font-family: var(--font-family) !important;
}

body {
    font-family: var(--font-family) !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #008540;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#map {
    height: 500px;
    width: 900px;
    border: 1px solid #a8a5a5; /* Border */
    border-radius: 5px; /* Optional: rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Drop shadow */
}

.styledMap {
    border-radius: 0px !important;
    height: calc(100vh - 100px - 40px) !important; /* 100px for header, 50px for footer */
    width: 100% !important; /* Fyller hele bredden */
}

.map-container {
    display: flex;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

.btn-general {
    background-color: #038540;
    color: white;
    display: inline-block;
    margin: 0 auto; /* Sentrerer knappen */
    width: 145px;
    height: 45px;
    font-size: 16px;
    border: 2px solid !important; /* Angi bredde og stil, men ikke farge */
    border-radius: 10px;
    cursor: pointer; /* Håndmus ved hover */
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    text-decoration: none; /* Ingen understreking på tekst */
    box-sizing: border-box; /* Inkluderer padding og border i bredden/høyden */
}


.button-container {
    display: flex;
    flex-direction: row; /* Plasserer knappene horisontalt */
    align-items: center; /* Sentrerer knappene vertikalt */
    justify-content: space-evenly; /* Sentrerer knappene horisontalt */
    width: 70%; /* Juster bredde om nødvendig */
    margin: 0 auto; /* Sentrer containeren */
    gap: 0px; /* Økt avstand mellom knappene */
}

.btn-index {
    width: 273px;
    height: 85px;
    font-size: 32px;
    border: 2px solid !important; /* Angi bredde og stil, men ikke farge */
    border-radius: 10px;
    cursor: pointer; /* Håndmus ved hover */
    display: flex; /* Gjør knappen til en flex-container */
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    text-decoration: none; /* Ingen understreking på tekst */
    box-sizing: border-box; /* Inkluderer padding og border i bredden/høyden */
}

.btn-primary {
    background-color: #FFFFFF; /* Egen bakgrunnsfarge for primærknapp */
    border-color: #006F35; /* Fargen på border (stroke) */
    color: #006F35; /* Grønn tekstfarge */

}

.btn-secondary {
    background-color: #FFFFFF; 
    border-color: #1B589F; /* Fargen på border (stroke) */
    color: #1B589F; 
}

.text-center {
    text-align: center; /* Sentraliserer teksten */
    margin-bottom: 20px; /* Avstand mellom overskrift og knapper */
}

/*CSS for HomePage*/
.header1 {
    text-align: center;

}

h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

}

p {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

.list-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: stretch; /* Sikrer at begge boksene har lik høyde */
    width: 90%; /* Juster bredde om nødvendig */
    margin: 0 auto; /* Sentrer containeren */
}

/* Stiler for lister */
.my-list {
    list-style-type: disc; /* Angir punkttegn (standard) */
    padding-left: 20px; /* Gir litt innrykk fra venstre */
    margin: 0; /* Fjerner standard margin */
    flex: 1; /* Gjør at lister fyller opp plassen */
    display: flex;
    flex-direction: column; /* Arrangerer elementene vertikalt */
    justify-content: flex-start; /* Plasserer listeelementene øverst */
    height: auto; /* Høyden tilpasses innholdet */
    font-size: 20px;
}

/* Stiler for listeelementer */
.my-list li {
    margin-bottom: 10px; /* Gir litt avstand mellom hvert punkt */
}

/* Stiler for hver liste for å gi dem lik høyde */
.list-item {
    background-color: #f9e8d2; /* Lys bakgrunnsfarge */
    display: flex; /* Bruker Flexbox for å justere innholdet */
    flex-direction: column; /* Arrangerer elementene vertikalt */
    padding: 20px; /* Litt padding rundt innholdet */
    border-radius: 10px; /* Avrundede hjørner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Legger til en liten skygge */
    margin: 20px; /* Litt mellomrom rundt hver boks */
    flex: 1;
    max-width: 430px;
}

.highlight {
    color: #008540; /* Replace this with the desired color */
}

.password-input-wrapper {
    display: flex !important;
}

.checkbox-wrapper {
    display: flex;
    align-items: center; /* Sørger for at avkrysningsboksen og teksten "Vis passord" er på samme linje */
    margin-left: 8px; /* Gir litt mellomrom mellom input-feltet og avkrysningsboksen */
    margin-top: 3px;
}


.checkbox-wrapper-login {
    display: flex; /* Flex-container for å sette checkbox og label på samme linje */
    align-items: center;
}


.text-nowrap {
    white-space: nowrap; /* Sørger for at teksten "Vis passord" ikke brytes til neste linje */
    margin-left: 4px; /* Liten avstand mellom avkrysningsboksen og teksten */
}

/* Flexbox container for password field and button */
.password-container {
    display: flex;
    align-items: center; /* Justerer elementene vertikalt p� samme linje */
}

/* Juster avstand mellom teksten og input-feltet */
.password-container p {
    margin-right: 10px; /* Avstand mellom "Password:" tekst og input-felt */
    margin-bottom: 0; /* Nullstill bunnmarg for � sikre at den ikke p�virker justeringen */
}

/* Juster avstand mellom input-feltet og knappen */
.password-container input {
    margin-right: 10px; /* Avstand mellom input-felt og knapp */
    margin-top: -4px; /* Flytt input-feltet opp */
}

body, .homepage {
    min-height: 100vh; /* 150% av skjermens høyde */
}

.homepage {
    text-align: center;
    width: 100%;
    padding-bottom: 200px; /* Legg til plass nederst på siden */
}

.meld-kartfeil {
    margin-top: -20px;
    text-align: center;
    text-decoration: none;
}

.user-information {
    float: left;
    margin-top: 50px;
    width: 300px;
    text-align: left;
    text-decoration: none;
}

.user-info-table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 70px;
    background-color: black;
    padding: 10px; /* Litt plass rundt innholdet */
    border: 1px solid black; /* Grense mellom hver th */
    text-align: center;
    border-radius: 5px; /* Rounds the corners of the entire table */
    border-spacing: 0; /* Remove space between cells */
    overflow: hidden; /* Ensure content doesn’t overflow beyond the corners */
}

    .user-info-table th:first-child {
        border-top-left-radius: 5px; /* Topp-venstre hjørne av tabellen */
    }

    .user-info-table th:last-child {
        border-top-right-radius: 5px; /* Topp-høyre hjørne */
    }

    .user-info-table tr:last-child td:first-child {
        border-bottom-left-radius: 5px; /* Bunn-venstre hjørne */
    }

    .user-info-table tr:last-child td:last-child {
        border-bottom-right-radius: 5px; /* Bunn-høyre hjørne */
    }

    .user-info-table tr:nth-child(even) {
        background-color: #F5F5F5; /* Lysegrønn bakgunnsfarge for partallsrekker */
    }

    .user-info-table tr:nth-child(odd) {
        background-color: #ffffff; /* Hvit bakgrunn for oddetallsrekker */
    }

    /* tabelloverskrift bakgrunnsfarge */
    .user-info-table th {
        background-color: #1B589F !important;
        color: white !important;
        padding: 10px;
        border: 2px solid black;
    }

    .user-info-table td {
        padding: 10px;
        border: 1px solid black;
        color: #333; /* Mørk tekstfarge */
    }

/* Tidligere rapporter */
.map-reports {
    float: right;
    margin-top: 50px;
    margin-right: 150px;
    width: 300px;
    text-align: left;
}

.map-reports-table {
    width: 150%; /* Full bredde av container */
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 100px;
    background-color: #f9f9f9;
    border: 1px solid black; /* Legg til grense mellom cellene */
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px; /* Juster for å runde hjørner */
    overflow: hidden; /* Innholdet overskrider ikke rammene */
}

/* Runde hjørner på map-reports tabell*/
.reports-table-header th:first-child {
    border-top-left-radius: 5px; /* Topp-venstre hjørne av tabellen */
}

.reports-table-header th:last-child {
    border-top-right-radius: 5px; /* Topp-høyre hjørne */
}

.map-reports-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px; /* Bunn-venstre hjørne */
}

.map-reports-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px; /* Bunn-høyre hjørne */
}

.reports-table-header th {
    background-color: #1B589F !important;
    color: white !important;
    padding: 10px; /* Litt plass rundt innholdet */
    border: 2px solid black; /* Grense mellom hver th */
    text-align: center;
    border-collapse: collapse;
}


.map-reports-table tr:nth-child(even) {
    background-color: #F5F5F5; /* lysegrønn bakgrunn for partalsrekker */
}

.map-reports-table tr:nth-child(odd) {
    background-color: #ffffff; /* hvit bakgrunn for oddetallsrekker */
}

/* Grense for <td> elementer (dataceller) */
.map-reports td {
    padding: 10px; /* Valgfritt: Legg til litt plass rundt innholdet */
    border: 1px solid #ccc; /* Legg til grense rundt hver celle */
}




/*CSS for Index*/
.password-input-wrapper {
    display: flex;
    flex-direction: column; /* Stack the input and checkbox vertically */
    justify-content: center; /* Centers the entire wrapper (input + checkbox) */
    align-items: center; /* Vertically aligns both input and checkbox */
    width: 100%; /* Full width to allow centering */
}

.checkbox-wrapper {
    margin-top: 10px; /* Add some space above the checkbox */
    display: flex;
    align-content: space-around;
    gap: 1rem;
    align-items: center; /* Vertically align the checkbox and label */
    justify-content: center; /* Ensure checkbox and label are centered */
}


/*CSS for RegistrationPage*/
.registration-form h1 {
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    margin-bottom: -150px; /* Reduce space below heading */
}

.registration-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px; /* Space between input groups */
}

.registration-form form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    height: 100vh; /* Full height of the window */
    width: 100%; /* Full width */
}

.registration-form label {
    margin-bottom: -5px; /*Space between label and input */
}

.registration-form input {
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px; /* Runda hjørner */
    border: 1px solid #000000;
}

/* CSS for login */

.checkbox-center {
    display: flex; /* Use flexbox layout */

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 2vh;
}

input[type="checkbox"] {
    margin: 0; /* Remove default margin */
}

.login-form input {
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px; /* Runda hjørner */
    border: 1px solid #000000;
}


/* CSS for AdminReview */

.user-reports {
    display: flex;
    margin-top: 4%;

}

.user-reports-table {
    margin-top: 80px;
    width: 100%; 
    height: auto;
    font-size: 1.2em; 
    padding: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

.user-reports th {
    padding: 10px; /* Valgfritt: Legg til litt plass rundt innholdet */
    border: 1px solid #ccc; /* Legg til grense rundt hver celle */
}

    .user-reports td {
    padding: 10px; /* Valgfritt: Legg til litt plass rundt innholdet */
    border: 1px solid #ccc; /* Legg til grense rundt hver celle */
}

.user-reports tr:nth-child(even) {
    background-color: #F5F5F5; /* lysegrønn bakgrunn for partalsrekker */
}

.user-reports tr:nth-child(odd) {
    background-color: #ffffff; /* hvit bakgrunn for oddetallsrekker */
}

.margin-bottom-2 {
    margin-bottom: 2px !important;
    margin-top: -20px;
    margin-left: 140px;
}


.button-status {
    display: inline-flex; /* Lar elementene ligge på samme linje */
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}


.btn-status-a, .btn-status-b, .btn-status-c {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-status-a {
    border: 2px solid red;
}

.btn-status-b {
    border: 2px solid green;
}

.btn-status-c {
    border: 2px solid orange;
}


.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.navbar, .nav-link {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    padding-left: 40px;
}

.navbar {
    display: flex;
    background-color: #F7F7F7!important;
}

.nav-link {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    position: relative; /* Needed for the pseudo-element */
    transition: color 2s; /* Smooth transition for color */
    margin-left: 70px;
}

.nav-link:hover {
    color: #006F35; /* Change text color on hover */
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Position the underline at the bottom of the link */
    width: 0; /* Start with no width (hidden) */
    height: 2px; /* Thickness of the underline */
    background-color: #006F35; /* Blue color for underline */
    transition: width 0.3s ease; /* Smoothly animate the underline */
}

.nav-link:hover::after {
    width: 100%; 
}

.nav-link.active {
    font-weight: 700;
    color: #1B589F;
}

.footer-nav {
    list-style-type: none;
    text-align: center;

}

.footer-nav li {
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

.footer-link {
    color: #000; /* Black text color */
    text-decoration: none; /* Remove default underline */
    border-bottom: 2px solid #000; /* Black underline */
    transition: color 0.3s, border-color 0.3s; /* Smooth transition */
}

.footer-link:hover {
    color: #000; /* Keep text black on hover */
    border-bottom-color: #000; /* Keep underline black on hover */
}

.font-color-primary {
    color: var(--primary);
}

.font-color-secondary {
    color: var(--secondary);
}

.hjelp-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px; /* For å gi avstand fra toppen */
}

.hjelp-bottom-text {
    margin: 80px 0; /* For å gi plass over og under teksten */
}

.down-arrow-icon {
    width: 50px; /* Juster størrelsen etter behov */
    height: auto; /* Behold proporsjonene */
    margin-top: 40px; /* Avstand over pilen */
}

.width-900 {
    width: 900px;
}

.border-radius-5 {
    border-radius: 5px;
}

#descriptionForm {
    display: none; /* Skjuler tekstboksen og knappen til polygon er tegnet */
    position: fixed; /* Gjør at boksen er fast plassert i forhold til vinduet */
    top: 50%; /* Plasserer den 50% ned på siden */
    left: 50%; /* Plasserer den 50% til høyre på siden */
    transform: translate(-50%, -50%); /* Flytter den tilbake til midten ved å forskyve med 50% */
    background-color: #f9f9f9; /* Lys bakgrunnsfarge */
    padding: 20px; /* Gir litt luft rundt elementene inni boksen */
    border: 1px solid #ccc; /* Gir en tynn grå ramme */
    border-radius: 8px; /* Runder hjørnene på boksen */
    width: 300px; /* Setter bredden på boksen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gir en lett skygge for å heve boksen litt visuelt */
    z-index: 9999;
}

.close-button {
    position: absolute; /* Plasserer knappen absolutt inne i boksen */
    top: 0px; /* Justerer posisjonen fra toppen */
    right: 0px; /* Justerer posisjonen fra høyre */
    background-color: transparent; /* Gjør bakgrunnen transparent */
    border: none; /* Fjerner standard knappkant */
    font-size: 30px; /* Gjør krysset stort */
    cursor: pointer; /* Endrer musepekeren til en peker */
}

.close-button:hover {
    color: red; /* Endrer fargen på krysset ved hover */
}
