@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {
    --primary: #006A33;
    --secondary: #154785;

    --font-family: 'Mulish', sans-serif;
}

html {
    font-size: 18px;
    font-family: var(--font-family) !important;
}

body {
    font-family: var(--font-family) !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #008540;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#map {
    height: 500px;
    width: 900px;
    border: 1px solid #a8a5a5; /* Border */
    border-radius: 5px; /* Optional: rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Drop shadow */

}

.map-container {
    display: flex;
    justify-content: center;
    height: 500px;
}

.center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: row; /* Plasserer knappene horisontalt */
    align-items: center; /* Sentrerer knappene vertikalt */
    justify-content: center; /* Sentrerer knappene horisontalt */
    gap: 80px; /* Økt avstand mellom knappene */
}

.btn {
    width: 273px; 
    height: 85px; 
    font-size: 32px; 
    background-color: #006A33FF; /* Bakgrunnsfarge */
    color: white; 
    border: none; /* Ingen ramme */
    cursor: pointer; /* Håndmus ved hover */
    display: flex; /* Gjør knappen til en flex-container */
    align-items: center; /* Sentrerer innholdet vertikalt */
    justify-content: center; /* Sentrerer innholdet horisontalt */
    text-decoration: none; /* Ingen understreking på tekst */
    box-sizing: border-box; /* Inkluderer padding og border i bredden/høyden */
}

.btn-primary {
    background-color: #038540; /* Egen bakgrunnsfarge for primærknapp */
}

.btn-secondary {
    background-color: #1B589F; /* Egen bakgrunnsfarge for sekundærknapp */
}


.text-center {
    text-align: center; /* Sentraliserer teksten */
    margin-bottom: 20px; /* Avstand mellom overskrift og knapper */
}

/*CSS for HomePage*/
.header1 {
    text-align: center;

}

h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

}

p {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

.list-container {
    display: flex; /* Bruker Flexbox for å lage to kolonner */
    justify-content: space-between; /* Plasserer dem på hver sin side */
    padding: 20px; /* Gir litt innrykk fra kantene */
    box-sizing: border-box; /* Inkluderer padding i høyden */
}

/* Stiler for lister */
.my-list {
    list-style-type: disc; /* Angir punkttegn (standard) */
    padding-left: 20px; /* Gir litt innrykk fra venstre */
    margin: 0; /* Fjerner standard margin */
    flex: 1; /* Gjør at lister fyller opp plassen */
    display: flex;
    flex-direction: column; /* Arrangerer elementene vertikalt */
    justify-content: flex-start; /* Plasserer listeelementene øverst */
    height: auto; /* Høyden tilpasses innholdet */
    font-size: 20px;
}

/* Stiler for listeelementer */
.my-list li {
    margin-bottom: 10px; /* Gir litt avstand mellom hvert punkt */
}

/* Stiler for hver liste for å gi dem lik høyde */
.list-item {
    display: flex; /* Bruker Flexbox for å justere innholdet */
    flex-direction: column; /* Arrangerer elementene vertikalt */
    height: 100%; /* Setter høyden til 100% av containeren */
}

.highlight {
    color: #008540; /* Replace this with the desired color */
}


/* Flexbox container for password field and button */
.password-container {
    display: flex;
    align-items: center; /* Justerer elementene vertikalt p� samme linje */
}

/* Juster avstand mellom teksten og input-feltet */
.password-container p {
    margin-right: 10px; /* Avstand mellom "Password:" tekst og input-felt */
    margin-bottom: 0; /* Nullstill bunnmarg for � sikre at den ikke p�virker justeringen */
}

/* Juster avstand mellom input-feltet og knappen */
.password-container input {
    margin-right: 10px; /* Avstand mellom input-felt og knapp */
    margin-top: -4px; /* Flytt input-feltet opp */
}

.password-container button {
    margin-top: -4px; /* Flytt knappen opp */
}

body, .homepage {
    min-height: 100vh; /* 150% av skjermens høyde */
}

.homepage {
    text-align: center;
    width: 100%;
    padding-bottom: 200px; /* Legg til plass nederst på siden */
}

.meld-kartfeil {
    margin-top: -20px;
    text-align: center;
    text-decoration: none;
}

.btn-map-report {
    background-color: #038540;
    display: inline-block;
    margin: 0 auto; /* Sentrerer knappen */
}

.user-information {
    float: left;
    margin-top: 50px;
    width: 300px;
    text-align: left;
    text-decoration: none;
}

.user-table-header th {
    background-color: #1B589F !important;
    color: white;
}

.user-info-table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 70px;
    background-color: #f9f9f9;
}

.user-info-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

    /* tabelloverskrift bakgrunnsfarge */
    .user-info-table th {
        background-color: #008540; /* Mørkegrønn bakgrunn */
        color: white;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .user-info-table tr:nth-child(even) {
        background-color: #F5F5F5; /* Lysegrønn bakgunnsfarge for partallsrekker */
    }

    .user-info-table tr:nth-child(odd) {
        background-color: #ffffff; /* Hvit bakgrunn for oddetallsrekker */
    }


    .user-info-table td {
        padding: 10px;
        border: 1px solid black;
        color: #333; /* Mørk tekstfarge */
    }


.map-reports {
    float: right;
    margin-top: 50px;
    margin-right: 150px;
    width: 300px;
    text-align: left;
}

.map-reports-table {
    width: 150%; /* Full bredde av container */
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: 100px;
    background-color: #f9f9f9;
    border: 1px solid #ddd; /* Legg til grense mellom cellene */
}

.reports-table-header th {
    background-color: #1B589F !important;
    color: white !important;
    padding: 10px; /* Litt plass rundt innholdet */
    border: 1px solid black; /* Grense mellom hver th */
}

.map-reports-table tr:nth-child(even) {
    background-color: #F5F5F5; /* lysegrønn bakgrunn for partalsrekker */
}

.map-reports-table tr:nth-child(odd) {
    background-color: #ffffff; /* hvit bakgrunn for oddetallsrekker */
}

/* Bakgrunnsfarge for <th> elementer */
.reports-table-header th {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black; /* Legg til grense rundt rekkene */
}

/* Grense for <td> elementer (dataceller) */
.map-reports td {
    padding: 10px; /* Valgfritt: Legg til litt plass rundt innholdet */
    border: 1px solid black; /* Legg til grense rundt hver celle */
}




/*CSS for Index*/
.password-input-wrapper {
    display: flex;
    flex-direction: column; /* Stack the input and checkbox vertically */
    justify-content: center; /* Centers the entire wrapper (input + checkbox) */
    align-items: center; /* Vertically aligns both input and checkbox */
    width: 100%; /* Full width to allow centering */
}

.checkbox-wrapper {
    margin-top: 10px; /* Add some space above the checkbox */
    display: flex;
    align-content: space-around;
    gap: 1rem;
    align-items: center; /* Vertically align the checkbox and label */
    justify-content: center; /* Ensure checkbox and label are centered */
}


/*CSS for RegistrationPage*/
.registration-form h1 {
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    margin-bottom: -100px; /* Reduce space below heading */
}

.registration-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px; /* Space between input groups */
}


.registration-form form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    height: 100vh; /* Full height of the window */
    width: 100%; /* Full width */
}

.registration-form input {
    width: 300px; /* Fixed width for inputs */
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.registration-form label {
    margin-bottom: -5px; /*Space between label and input */
}


/* Make input boxes smaller and add rounded corners */
.registration-form input {
    width: 250px; /* Smaller width for inputs */
    padding: 8px; /* Reduced padding */
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Border around input boxes */
}

/* Juster knappen */
.registration-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #1B589F; /* Bakgrunnsfarge */
    color: white;
    border-radius: 10px;
    border: none; /* Ingen ramme */
    cursor: pointer; /* Håndmus ved hover */
    
}

.margin-bottom-2 {
    margin-bottom: 2px !important;
    margin-top: -20px;
    margin-left: 140px;
}

.navbar, .nav-link {
    font-family: 'Mulish', sans-serif; 
    font-weight: 50;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 50px;
}

.font-color-primary {
    color: var(--primary);
}

.font-color-secondary {
    color: var(--secondary);
}

.hjelp-bottom-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}

.hjelp-bottom-container {
    min-height: 10rem;
}

