@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<body class="user-registration">
<div class="register-container">
<h3 class="register-title">Endre passord</h3>

<div class="login-form">
    <form asp-controller="Account" asp-action="ChangePassword" method="post" class="register-form">
        <div class="form-group">
            <label for="currentPassword">Nåværende passord</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Nytt passord</label>
            <input type="password" id="newPassword" name="newPassword"required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Bekreft nytt passord</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>

        <div class="password-wrapper">
            <input type="checkbox" id="togglePassword" class="show-password"/> Vis Passord
        </div>

        <div class="center-horizontal">
            <button type="submit" class="btn-general btn-changepassword">Lagre nytt passord
                <i class="bi bi-lock-fill"></i>
                </button>
        </div>
    </form>
</div>
</div>
</body>

    <script>
        // JavaScript for å vise/skjule "Nåværende passord" når man trykker på checkboksen
        const togglePasswordCheckbox = document.getElementById("togglePassword");
    const passwordFields = document.querySelectorAll("#currentPassword, #newPassword, #confirmPassword");

    togglePasswordCheckbox.addEventListener("change", function () {
        passwordFields.forEach(field => {
            field.type = togglePasswordCheckbox.checked ? "text" : "password";
        });
    });
    </script>

</html>